<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297489199609-gfj15t20i1u7i90jnusgbgjjbnkn8lkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297489199609-gfj15t20i1u7i90jnusgbgjjbnkn8lkc</string>
	<key>API_KEY</key>
	<string>AIzaSyAEM5nyvqsng2c69emROuBxm4OKyEbDmkU</string>
	<key>GCM_SENDER_ID</key>
	<string>297489199609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-89e73</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-89e73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297489199609:ios:f824e9a05c76b3e1664d28</string>
</dict>
</plist>